@charset "UTF-8";
@font-face {
    font-family: ProductSans;
    src: url("../fontes/ProductSansRegular.ttf");
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
}

.cards {
    display: inline-block;
    position: relative;
    top: 90px;
    width: 270px;
    height: 360px;
    border-radius: 30px;
    margin: 30px;
    background-color: #f0f0f0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    font-family: ProductSans, sans-serif;
    text-align: center;
}

.img {
    display: flex;
    height: 150px;
    background-color: #336699;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.textos {
    margin: 15px
}

.bot {
    bottom: 0;
    margin: 0;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    height: 54px;
    background-color: #996633;
}

.bot .desc {
    display: inline-block;
    position: relative;
    width: 60px;
    margin: 6px;
    top: 9%;
    color: rgb(255, 255, 255);
    font-size: 13px;
}

.bot .item {
    display: inline-block;
    position: relative;
    width: 60px;
    bottom: 0;
    color: #f0f0f0;
    font-size: 9px;
    font-family: "Roboto Light", sans-serif;
    text-transform: uppercase;
}

#d1,
#d2,
#d3 {
    padding: 0 3px;
    border-left: 3px rgba(0, 0, 0, 0.3) solid;
    border-right: 3px rgba(0, 0, 0, 0.2) solid;
}

.textos h2 {
    font-size: 12pt;
    margin: 3px
}

.textos h1 {
    font-size: 15pt;
    margin: 6px
}

.textos p {
    font-size: 15px;
    margin: 6px;
    color: rgb(60, 60, 60)
}

#img-bugatti {
    background: url("../imagens/bugatti.jpg")
}

#img-one {
    background: url("../imagens/one.jpg")
}

#img-venom {
    background: url("../imagens/venom.jpg")
}

#bugatti {
    color: rgb(30, 60, 180)
}

#koenigsegg {
    color: rgb(210, 60, 30)
}

#hennessey {
    color: rgb(30, 120, 30)
}

#desc1 {
    background-color: rgb(30, 60, 180)
}

#desc2 {
    background-color: rgb(210, 60, 30)
}

#desc3 {
    background-color: rgb(30, 120, 30)
}

.cards:hover {
    transform: scale(1.2);
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.9);
    transition: 900ms;
}
